.testimonialHeading {
  color: #fff;
  text-align: center;
  font-family: Lexend Deca;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.26px;
  text-transform: capitalize;
  padding-top: 63px;
}

.testimonialHeadingDiv {
  background-image: url("/testimonailMb.png");
  margin-top: 50px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  position: relative;
  bottom: -100px;
  /* z-index: -5; */
  background-position: center;
}

.testimonialPara {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  width: 919px;
  margin-top: 12px;
  margin: auto;
}

.StarImg{
  margin-left: 40px;
}

.atul {
  margin-top: 106px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 2.5%;
  grid-template-areas:
    "card1 card2"
    "card3 card4";
}

.card:nth-child(1) {
  grid-area: card1;

  width: 519px;
  height: 569px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #d9d9d9;
  margin-left: auto;
  align-items: start;
}

.card:nth-child(2) {
  grid-area: card2;
  height: 220px;
  width: 519px;
  height: 331px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #d9d9d9;
}

.card:nth-child(4) {
  grid-area: card4;
  width: 519px;
  height: 408px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #d9d9d9;
  margin-top: -200px;
}

.card:nth-child(3) {
  grid-area: card3;
  width: 519px;
  height: 302px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #d9d9d9;
  margin-left: auto;
}

.testimonialCardHeading {
  color: #26567b;
  font-family: Lexend Deca;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.26px;
  text-transform: capitalize;
  margin-left: 40px;
  margin-top: 40px;
}

.testimonialCardPara {
  color: #26567b;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.TestimonialCardGoogle {
  color: #26567b;
  font-family: Lexend Deca;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  text-transform: capitalize;
  float: right;
  margin-right: 40px;
}

.testimonialSubHeading {
  color: #fff;
  text-align: center;
  font-family: Lexend Deca;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.26px;
  text-transform: capitalize;
  margin-top: 150px;
}

.BookBtn {
  width: 332px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  color: #26567b;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.6px;
  margin-top: 60px;
  margin-inline: auto;
  margin-bottom: 113px;
  display: block;
}

.sliderContainer {
  display: none;
}

.testimonialContainer{
  margin-top: 50px;
  background-image: url("/testimonail1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;

}

.testimonialDiv {
  display: block;

  padding-bottom: 113px;
}

@media only screen and (max-width: 768px) {

  .StarImg{
    margin-left:0px;
  }



  .testimonialDiv {
    display: none;
  }

  .testimonialPara {
    width: 90%;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
  }

  .sliderContainer {
    background-repeat: no-repeat;
    display: block;
    object-fit: cover;
    width: 100vw;
    /* margin-top: -130px; */
    overflow: hidden;
  }

  .testinmonialReviewHAFterBtn {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
    border-radius: 10px;
    background: #26567b;
    width: 332px;
    height: 50px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 50px;
    display: block;
  }

  .atul {
    display: none;
  }

  .TestumonialMbH {
    color: #fff;
    text-align: center;
    font-family: "Lexend Deca";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 100% */
    letter-spacing: -0.96px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 30px;
  }

  .TestumonialMbP {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    margin-top: 14px;
    width: 347px;
    margin: auto;
    padding-top: 14px;
    padding-bottom: 140px;
  }

}
